# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DebugUnicode/vc142.pdb
DebugUnicode/vc142.idb
DebugUnicode/Template.pdb
DebugUnicode/Template.log
DebugUnicode/Template.exp
DebugUnicode/OpenCapture.tlog/unsuccessfulbuild
DebugUnicode/OpenCapture.tlog/rc.write.1.tlog
DebugUnicode/OpenCapture.tlog/rc.read.1.tlog
DebugUnicode/OpenCapture.tlog/rc.command.1.tlog
DebugUnicode/OpenCapture.tlog/OpenCapture.lastbuildstate
DebugUnicode/OpenCapture.tlog/link.write.1.tlog
DebugUnicode/OpenCapture.tlog/link.read.1.tlog
DebugUnicode/OpenCapture.tlog/link.command.1.tlog
DebugUnicode/OpenCapture.tlog/link-cvtres.write.1.tlog
DebugUnicode/OpenCapture.tlog/link-cvtres.read.1.tlog
DebugUnicode/OpenCapture.tlog/CL.write.1.tlog
DebugUnicode/OpenCapture.tlog/CL.read.1.tlog
DebugUnicode/OpenCapture.tlog/CL.command.1.tlog
.vs/OpenCapture/v16/ipch/AutoPCH/2f6e6e141d619850/ACTIONS.ipch
.vs/OpenCapture/v16/Browse.VC.db
.vs/OpenCapture/v16/.suo
