# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DebugUnicode/vc142.pdb
DebugUnicode/vc142.idb
DebugUnicode/Template.pdb
DebugUnicode/Template.log
DebugUnicode/Template.exp
DebugUnicode/OpenCapture.tlog/unsuccessfulbuild
DebugUnicode/OpenCapture.tlog/rc.write.1.tlog
DebugUnicode/OpenCapture.tlog/rc.read.1.tlog
DebugUnicode/OpenCapture.tlog/rc.command.1.tlog
DebugUnicode/OpenCapture.tlog/OpenCapture.lastbuildstate
DebugUnicode/OpenCapture.tlog/link.write.1.tlog
DebugUnicode/OpenCapture.tlog/link.read.1.tlog
DebugUnicode/OpenCapture.tlog/link.command.1.tlog
DebugUnicode/OpenCapture.tlog/link-cvtres.write.1.tlog
DebugUnicode/OpenCapture.tlog/link-cvtres.read.1.tlog
DebugUnicode/OpenCapture.tlog/CL.write.1.tlog
DebugUnicode/OpenCapture.tlog/CL.read.1.tlog
DebugUnicode/OpenCapture.tlog/CL.command.1.tlog
.vs/OpenCapture/v16/ipch/AutoPCH/2f6e6e141d619850/ACTIONS.ipch
.vs/OpenCapture/v16/Browse.VC.db
.vs/OpenCapture/v16/.suo
ReleaseRuntimeUnicode/vc142.pdb
ReleaseRuntimeUnicode/Template.vcxproj.FileListAbsolute.txt
ReleaseRuntimeUnicode/Template.log
ReleaseRuntimeUnicode/OpenCapture.tlog/unsuccessfulbuild
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.lastbuildstate
ReleaseRuntimeUnicode/OpenCapture.tlog/CL.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/CL.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/CL.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.dll.recipe
ReleaseRuntimeUnicode/OpenCapture.Build.CppClean.log
ReleaseEditorUnicode/vc142.pdb
ReleaseEditorUnicode/Template.vcxproj.FileListAbsolute.txt
ReleaseEditorUnicode/Template.log
ReleaseEditorUnicode/OpenCapture.tlog/unsuccessfulbuild
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.lastbuildstate
ReleaseEditorUnicode/OpenCapture.tlog/CL.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/CL.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/CL.command.1.tlog
ReleaseEditorUnicode/OpenCapture.dll.recipe
ReleaseEditorUnicode/OpenCapture.Build.CppClean.log
.vs/OpenCapture/v16/ipch/AutoPCH/f3b30ebd56c94282/EDIF.GENERAL.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/c067ef3ed9cd04d6/EDIF.RUNTIME.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/ae465433bea5c751/EDIF.EDITTIME.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/97b8da829a93ab6/CAMERACALIBRATION.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/644030d9f9d24542/CAMERATHREADS.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/3ad4ffd8939653fb/CAMERATHREADS.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/34cd0a40517dbfed/ACTIONS.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/324c6122216f59f0/EDIF.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/2abc53405cc9b0a2/EXTENSION.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/21cacb861d4d1276/EDIF.EDITTIME.ipch
.vs/OpenCapture/v16/Browse.VC.opendb
.vs/OpenCapture/v16/Browse.VC.db-wal
.vs/OpenCapture/v16/Browse.VC.db-shm
.vs/OpenCapture/v16/ipch/AutoPCH/16759833f9a9eac/CAMERAENUMERATOR.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/5855f16db3ea967f/CAMERACALIBRATION.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/666857a0bcdf33a5/CAMERAENUMERATOR.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/8f7256fa4d7582f9/EXPRESSIONS.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/8fb9e23c07f9b385/EDITTIME.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/ff857b1a5abaa87b/EXTENSION.ipch
ReleaseEditorUnicode/Template.pdb
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/Template.pdb
ReleaseEditorUnicode/Template.pdb
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/Template.pdb
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/Template.pdb
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
.vs/OpenCapture/v16/ipch/AutoPCH/376bc143a4df5ca2/EXTENSION.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/6a9a9b929b0b6450/ACTIONS.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/ae2d8042ee33f7be/CAMERAENUMERATOR.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/b6b204503a5c85f0/EDIF.ipch
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseEditorUnicode/Template.exp
ReleaseEditorUnicode/Template.pdb
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/Template.pdb
ReleaseEditorUnicode/Template.exp
ReleaseEditorUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/Template.pdb
ReleaseRuntimeUnicode/Template.exp
ReleaseRuntimeUnicode/Template.pdb
ReleaseRuntimeUnicode/Template.exp
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/Template.pdb
ReleaseEditorUnicode/Template.exp
ReleaseEditorUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
DebugUnicode/OpenCapture.Build.CppClean.log
DebugUnicode/OpenCapture.dll.recipe
DebugUnicode/OpenCapture.ilk
DebugUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
.vs/OpenCapture/v16/ipch/AutoPCH/e81f4ce8ee2cbffb/CAMERATHREADS.ipch
.vs/OpenCapture/v16/ipch/AutoPCH/6fa4570d2abbc640/EXPRESSIONS.ipch
.vs/OpenCapture/v17/.suo
.vs/OpenCapture/v17/Browse.VC.db
DebugUnicode/OpenCapture.Build.CppClean.log
DebugUnicode/OpenCapture.dll.recipe
DebugUnicode/OpenCapture.ilk
DebugUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseEditorUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseEditorUnicode/Template.exp
ReleaseEditorUnicode/Template.pdb
ReleaseRuntimeUnicode/OpenCapture.tlog/link.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/link.write.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/OpenCapture.write.1u.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.command.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.read.1.tlog
ReleaseRuntimeUnicode/OpenCapture.tlog/rc.write.1.tlog
ReleaseRuntimeUnicode/Template.exp
ReleaseRuntimeUnicode/Template.pdb
*.tlog
*.exp
